img {
  margin: 0 auto;
  display: inline-block;
  max-width: 48%;
}
.images-block {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 10px 0 10px 0;
}
@media screen and (max-width: 720px) {
  img {
    max-width: 98%;
  }
}